<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" type="text/css" href="sound_style.css">*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right !important;margin-top: 16px !important;">
           <li>

 <div style="color:red" id="messages"> </div></li>
                </ul>
            </div>
        </div>
  <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="closenotify">&times;</span>
             <div style="color:red" id="notificationcontent"> </div>
        </div>

    </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let notificationcount = 0;
            function setTotalNotification(totalNotif) {
                //var audio = new Audio('Content/mixkit-bubble-pop-up-alert-notification-2357.wav');
                //audio.play();
                $("#messages").html("<i class='fa fa-bell'> " + totalNotif.Count + "</i>");
                $("#notificationcontent").html("");
                $.each(totalNotif.notifications, function( index, value ) {
                  $("#notificationcontent").append("<p>" + value.NotificationMessage + "</p>");
                });
            }
            var hub = $.connection.notificationHub;
            //Client Call
            hub.client.broadcaastNotif = function (totalNotif) {
                    setTotalNotification(totalNotif)
            };
            //$.connection.hub.start().done(function () { });

            $.connection.hub.start()
                .done(function () {
                    console.log("Hub Connected!");
                   // Server Call
                        hub.server.getNotification();
                })
                .fail(function () {
                    console.log("Could not Connect!");
                });

             $("#messages").click(function (e) {
                    $("#myModal").css({"display": "block"});
       
            });
        });
$("#closenotify").click(function (e) {
$("#myModal").css({"display": "none"});
$("#myModal").css({"z-index": "0"});
});
    </script>

</body>
</html>
